In [10]:
import yfinance as yf
import matplotlib.pyplot as plt
import pandas as pd

df = yf.download("QQQ", start="2015-01-01")
# Flatten MultiIndex columns if they exist
if isinstance(df.columns, pd.MultiIndex):
    df.columns = df.columns.get_level_values(0)
df.head()

[*********************100%***********************]  1 of 1 completed

Price           Close       High        Low       Open    Volume
Date
2015-01-02  94.784424  95.944593  94.324037  95.539458  31314600
2015-01-05  93.394066  94.480579  93.127041  94.370084  36521300
2015-01-06  92.141800  93.688700  91.727455  93.532170  66205500
2015-01-07  93.329613  93.550596  92.528537  92.749528  37577400
2015-01-08  95.115921  95.300073  94.020198  94.121484  40212600

In [11]:
df["SMA50"] = df["Close"].rolling(50).mean()
df[["Close", "SMA50"]].tail()

Price            Close       SMA50
Date
2025-12-22  619.210022  613.460973
2025-12-23  622.109985  613.878466
2025-12-24  623.929993  614.412455
2025-12-26  623.890015  614.861354
2025-12-29  620.869995  615.294395

In [12]:
df["signal"] = (df["Close"] > df["SMA50"]).astype(int)
df[["Close", "SMA50", "signal"]].tail(10)

Price            Close       SMA50  signal
Date
2025-12-15  609.754395  612.772506       0
2025-12-16  610.962830  612.853202       0
2025-12-17  599.637390  612.771306       0
2025-12-18  608.326233  612.724766       0
2025-12-19  616.255981  612.851602       1
2025-12-22  619.210022  613.460973       1
2025-12-23  622.109985  613.878466       1
2025-12-24  623.929993  614.412455       1
2025-12-26  623.890015  614.861354       1
2025-12-29  620.869995  615.294395       1